<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑模型信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__PUBLIC__/css/font.css">
    <link rel="stylesheet" href="__PUBLIC__/css/xadmin.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/js/xadmin.js"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <if condition="$level==1">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    公司
                </label>
                <div class="layui-input-block">
                    <select name="company_id" lay-verify="required">
                        <foreach name="company" item="v">
                            <option value="{$v['company_id']}" <if condition="$v['company_id']==$data['vr_company_id']"> selected </if>>{$v['company_name']}</option>
                        </foreach>
                    </select>
                </div>
            </div>
        </if>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                分类
            </label>
            <div class="layui-input-block">
                <select name="typeid" lay-verify="required">
                    <foreach name="arr1" item="value">
                        <option value="{$value['id']}"  <if condition="$value['id']==$data['vr_typeid']"> selected </if>>{$value['name']}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                图片
            </label>
            <div class="layui-upload-drag" id="test1">
                <div class="images">
                    <if condition="$data['vr_image'] neq ''">
                        <img style="width: 80px; height: 50px" src="{$data.vr_image}" alt="">
                        <input type="hidden" name="image" value="{$data.vr_image}">
                        <else/>
                        <i class="layui-icon">&#xe67c;</i>
                        <p>点击上传，或将图片拖拽到此处</p>
                    </if>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                文件信息<br/>
                (zip、rar、7z)
            </label>
            <div class="layui-upload-drag" id="test2">
                <div class="folder">
                    <if condition="$data['vr_image'] neq ''">
                        {$data.vr_folder}
                        <input type="hidden" name="folder" value="{$data.vr_folder}">
                        <input type="hidden" name="folderurl" value="{$data.vr_folderurl}">
                        <else/>
                    <i class="layui-icon">&#xe67c;</i>
                    <p>点击上传，或将文件拖拽到此处</p>
                    </if>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="typesid" lay-verify="required">
                    <foreach name="arr2" item="value">
                        <option value="{$value['id']}"  <if condition="$value['id']==$data['vr_typesid']"> selected </if>>{$value['name']}</option>
                    </foreach>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">空间</label>
            <div class="layui-input-block">
                <input type="text" name="space" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_space}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">楼盘</label>
            <div class="layui-input-block">
                <input type="text" name="premises" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_premises}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                风格
            </label>
            <div class="layui-input-block">
                <input type="text" name="style" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input" value="{$data.vr_style}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                型号
            </label>
            <div class="layui-input-block">
                <input type="text" name="model" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_model}">
            </div>

        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">
                规格
            </label>
            <div class="layui-input-block">
                <input type="text" name="specification" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input" value="{$data.vr_specification}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">色系</label>
            <div class="layui-input-block">
                <input type="text" name="color" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_color}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">产商</label>
            <div class="layui-input-block">
                <input type="text" name="vendor" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_vendor}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设计师</label>
            <div class="layui-input-block">
                <input type="text" name="designer" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_designer}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入内容" class="layui-textarea">{$data.vr_remark}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="text" name="price" required=""
                       autocomplete="off" class="layui-input" value="{$data.vr_price}">
            </div>
        </div>

        <input type="hidden" name="id" value="{$data.vr_id}">
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="edit" lay-submit="">
                修改
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">
                重置
            </button>
        </div>
    </form>
</div>
<script>
    var company_name = "<?php echo $company_name;?>";
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer
            ,upload = layui.upload;

        upload.render({
            elem: '#test1'
            ,url: "{:U('public/upload')}"
            ,method:'post'
            ,data:  {name: company_name,'action':'image'}
            ,done: function(res){
                //如果上传失败
                if(res.code==200){
                    $('.images').remove();
                    $('#test1').append("<div class='images'><img src="+res.info+" style='width:168px;height:70px;'><input type='hidden' name='image' value='"+res.info+"'></div>");
                }else{
                    layer.msg(res.info);
                }
                //上传成功
            }
        });

        upload.render({
            elem: '#test2'
            ,url: "{:U('public/uploadfolder')}"
            ,method:'post'
            ,exts:'zip|rar|7z|rvt|rfa'
            ,data: {name: company_name,'action':'folder'}
            ,done: function(res){
                //如果上传失败
                if(res.code==200){
                    $('.folder').remove();
                    $('#test2').append("<div class='folder'>"+res.info1+"<input type='hidden' name='folder' value='"+res.info1+"'><input type='hidden' name='folderurl' value='"+res.info2+"'></div>");
                }else{
                    layer.msg(res.info);
                }
                //上传成功
            }
        });

        //监听提交
        form.on('submit(edit)', function(data){
            $.post("{:U('Index/vrEdit')}",data.field,function(res){
                if(res.code==200) {
                    layer.msg(res.info, {icon: 6,time:2000},function () {
                        x_admin_close();
                        window.parent.location.reload();
                    });
                }else{
                    layer.alert(res.info, {icon: 5},function () {
                        layer.closeAll();
                    })
                }
            });
            return false;
        });


    });
</script>
</body>
</html>