<!DOCTYPE html>
<html class=" js csstransforms3d">
<head>
    <meta charset="utf-8">
    <title>模型后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__PUBLIC__/css/font.css">
    <link rel="stylesheet" href="__PUBLIC__/css/xadmin.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/layui/layui.all.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/js/xadmin.js"></script>
    <style>
       body{
            overflow-y: scroll;
        }
        table>th{
            text-align: center !important;
        }
        .layui-table-cell{
            height: auto !important;
        }
    </style>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a>首页</a>
        <a href="{:U('index/vrList')}">模型列表</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">&#x1002;</i>
    </a>
</div>
<div class="x-body">
    <!--<div class="layui-row">-->
        <!--<div class="demoTable layui-col-md12 x-so">-->
            <form action="" method="post" name="fileForm" class="layui-form">
                <div class="layui-form-item"  class="demoTable layui-col-md12 x-so" style="text-align:center">
                    <div class="layui-inline">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="number" name="pricemin" placeholder="￥" autocomplete="off" class="layui-input" value="{$pricemin}" lay-verify="pricemin" id="min">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="number" name="pricemax" placeholder="￥" autocomplete="off" class="layui-input" value="{$pricemax}" lay-verify="pricemax">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="select"  placeholder="请输入搜索条件" autocomplete="off" class="layui-input" value="{$select}">
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn"  lay-submit="" id="sreach" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="company_id" autocomplete="off" class="layui-input" id="company_id" value="{$company_id}">
                <input type="hidden" name="typeid" autocomplete="off" class="layui-input" id="typeid" value="{$vr_typeid}">
                <input type="hidden" name="typesid" autocomplete="off" class="layui-input" id="typesid" value="{$vr_typesid}">
                <input type="hidden" name="space" autocomplete="off" class="layui-input" id="space" value="{$vr_space}">
                <input type="hidden" name="style" autocomplete="off" class="layui-input" id="style" value="{$vr_style}">
                <input type="hidden" name="color" autocomplete="off" class="layui-input" id="color" value="{$vr_color}">
                <input type="hidden" name="vendor" autocomplete="off" class="layui-input" id="vendor" value="{$vr_vendor}">
                <input type="hidden" name="designer" autocomplete="off" class="layui-input" id="designer" value="{$vr_designer}">
                <input type="hidden" name="order" autocomplete="off" class="layui-input" id="order" value="{$order}">
            </form>
    <!--</div>-->
<!--</div>-->
<xblock>
    <button class="layui-btn" onclick="x_admin_show('添加模型','vrAdd.html',650)"><i class="layui-icon"></i>添加模型</button>
    <span class="x-right" style="line-height:40px"></span>
</xblock>
    <img src="" id="displayImg" style="display: none" alt="">
    <table class="layui-table" lay-filter="test" id="cc" style="text-align: center">
        <thead>
        <tr>
            <if condition="$level==1">
            <th style="text-align: center;width: 6%;">
                <select name="company_id" onchange="changeSelect('company_id')" >
                    <option value="">公司</option>
                    <foreach name="company" item="co">
                        <option value="{$co['company_id']}" <if condition="$co['company_id']==$company_id">selected</if> >{$co['company_name']}</option>
                    </foreach>
                </select>
            </th>
            </if>
            <th style="text-align: center;width: 6%;">
                <select name="typeid" onchange="changeSelect('typeid')" >
                    <option value="">分类</option>
                    <foreach name="typeid" item="ty">
                        <option value="{$ty['id']}" <if condition="$ty['id']==$vr_typeid">selected</if> >{$ty['name']}</option>
                    </foreach>
                </select>
            </th>
            <th  style="text-align: center;">
                图片
            </th>
            <th style="text-align: center;width: 10%;">
                名称
            </th>


            <th style="text-align: center;width: 5%;">
                <select name="typesid" onchange="changeSelect('typesid')" >
                    <option value="">类型</option>
                    <foreach name="typesid" item="tys">
                        <option value="{$tys['id']}" <if condition="$tys['id']==$vr_typesid">selected</if> >{$tys['name']}</option>
                    </foreach>
                </select>
            </th>
            <th style="text-align: center;width: 6%;">
                型号
            </th>
            <th style="text-align: center;width: 6%;">
                规格
            </th>
            <th style="text-align: center;width: 5%;">
                <select name="style" onchange="changeSelect('style')">
                    <option value="">风格</option>
                    <foreach name="style" item="st">
                        <option value="{$st['vr_style']}" <if condition="($st['vr_style']==$vr_style) and ($vr_style neq '')">selected</if>>{$st['vr_style']}</option>
                    </foreach>
                </select>
            </th>

            <th style="text-align: center;width: 5%;">
                <select name="color" onchange="changeSelect('color')">
                    <option value="">色系</option>
                    <foreach name="color" item="co">
                        <option value="{$co['vr_color']}" <if condition="($co['vr_color']==$vr_color) and ($vr_color neq '')">selected</if>>{$co['vr_color']}</option>
                    </foreach>
                </select>
            </th>
            <th style="text-align: center;width: 5%;">
                <select name="vendor" onchange="changeSelect('vendor')">
                    <option value="">产商</option>
                    <foreach name="vendor" item="ve">
                        <option value="{$ve['vr_vendor']}" <if condition="($ve['vr_vendor']==$vr_vendor) and ($vr_vendor neq '')">selected</if>>{$ve['vr_vendor']}</option>
                    </foreach>

                </select>
            </th>
            <th style="text-align: center;width: 5%;">
                <select name="space" onchange="changeSelect('space')">
                    <option value="">空间</option>
                    <foreach name="space" item="sp">
                        <option value="{$sp['vr_space']}" <if condition="($sp['vr_space']==$vr_space) and ($vr_space neq '')">selected</if> >{$sp['vr_space']}</option>
                    </foreach>
                </select>
            </th>

            <th style="text-align: center;width: 5%;">
                <select name="designer" onchange="changeSelect('designer')">
                    <option value="">设计师</option>
                    <foreach name="designer" item="de">
                        <option value="{$de['vr_designer']}" <if condition="($de['vr_designer']==$vr_designer) and ($vr_designer neq '')">selected</if>>{$de['vr_designer']}</option>
                    </foreach>

                </select>
            </th>
            <th style="text-align: center;width: 5%">
                楼盘
            </th>
            
            <th style="text-align: center;width: 8%">
                备注
            </th>

            <th style="text-align: center;width: 5%">
                时间
            </th>
            <if condition="$level==1">
            <th style="text-align: center;width: 4%">
                <div class="layui-table-cell laytable-cell-1-vr_count" align="center" style="padding: 0px;">
                    <span>下载次数</span>
                    <span class="layui-table-sort layui-inline" style="margin: 0px;">
                        <i class="layui-edge layui-table-sort-asc" onclick="sorts('asc')" id="asc" style="left: 0px;"></i>
                        <i class="layui-edge layui-table-sort-desc" onclick="sorts('desc')"  id="desc" style="left: 0px;"></i>
                    </span>
                </div>
            </th>
            </if>
            <th style="text-align: center;width: 5%">
                价格
            </th>
            <th style="text-align: center">
               操作
            </th>
        </tr>
        </thead>
        <tbody>
        <foreach name="data" item="value">
        <tr>
            <if condition="$level==1">
                <td>{$value['company_name']}</td>
            </if>
            <td>{$value['typename']}</td>
            <td>
                <if condition="$value['vr_image']!=''">
                    <img src="{$value.vr_image}" style="width: 100px;height: 100px;" lay-event="displayImg">
                </if>
            </td>
            <td>{$value['vr_name']}</td>


            <td>
                {$value['typesname']}
            </td>
            <td>{$value['vr_model']}</td>
            <td>{$value['vr_specification']}</td>
            <td>{$value['vr_style']}</td>
            <td>{$value['vr_color']}</td>
            <td>{$value['vr_vendor']}</td>
            <td>{$value['vr_space']}</td>
            <td>{$value['vr_designer']}</td>
            <td>{$value['vr_premises']}</td>
            <td>{$value['vr_remark']}</td>
            <td>{$value['vr_time']}</td>
            <if condition="$level==1">
                <td>{$value['vr_count']}</td>
            </if>
            <td>{$value['vr_price']}</td>
            <td>
                <if condition="(in_array($value['vr_admin_id'],$levelss)) && ($level==2)">
                    <else/>
                <a title="编辑" lay-event="edit" href="javascript:;" onclick="x_admin_show('编辑模型','{:U('Index/vrEdit')}?id={$value['vr_id']}',650)">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除"  href="javascript:;"  lay-event="del" onclick="sc('{$value['vr_id']}')">
                    <i class="layui-icon">&#xe640;</i>
                </a>
                    </if>
                <a title="下载"   href="javascript:;"  lay-event="down" onclick="down('{$value['vr_id']}','{$value['vr_folderurl']}')">
                    <i class="layui-icon">&#xe655;</i>
                </a>
            </td>
        </tr>
        </foreach>
        </tbody>
    </table>


    <div id="demo7"></div>

<script>
    layui.use(['table','laypage'], function(){
        var table = layui.table;
        var laypage = layui.laypage;
        $ = layui.jquery;
        var form = layui.form
                ,layer = layui.layer;

        form.verify({
            pricemin: function(value, item){
                if(value.length>0) {
                    if (value < 0) {
                        return "价格不能小于0";
                    }
                }
            },
            pricemax: function(value, item){
                if(value.length>0) {
                    if (value < 0) {
                        return "价格不能小于0";
                    }
                    if ($("#min").val() >= value) {
                        return "价格不能小于等于最小值";
                    }
                }

            }
        });

        //完整功能
        laypage.render({
            elem: 'demo7'
            ,count: {$count}
            ,limit: {$limit}
            ,curr:{$page}
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            ,jump: function(obj, first){
                if(!first){
                    window.location.href="{:U('Index/vrList')}?page="+obj.curr+'&limit='+obj.limit+'&company_id={$company_id}&typeid={$vr_typeid}&typesid={$vr_typesid}&space={$vr_space}&style={$vr_style}&color={$vr_color}&vendor={$vr_vendor}&designer={$vr_designer}&order={$order}&pricemin={$pricemin}&pricemax={$pricemax}';//向URL中传递页数并显示


                }
            }
        });
        <!--搜索-->
    });

    function sc(id){
        layer.confirm('确认删除么', function (index) {
            if(id==''){
                layer.msg('id不能为空', {icon: 6, time: 1000});
            }
            $.post("{:U('Index/vrDelete')}", {'id': id}, function (res) {
                if (res.code == 200) {
                    layer.msg(res.info, {icon: 6, time: 1000}, function () {
                        layer.close(index);
                        //向服务端发送删除指令
                        window.location.reload();
                    });
                } else {
                    layer.alert(res.info, {icon: 5}, function () {
                        layer.closeAll();
                    })
                }
            });
        });
    }

    function changeSelect(lx) {
        var val = $("select[name='" + lx + "']").val();
        $("#" + lx + "").val(val);
        document.fileForm.submit();
    }

    function down(id,url) {
        if(url==''){
            layer.alert('没有可下载文件', {icon: 5}, function () {
                layer.closeAll();
            })
            return  false;
        }
        $.post("{:U('public/vrCount')}", {'id': id}, function (res) {
            if (res.code == 200) {
                window.location.href = url;
            } else {
                layer.alert(res.info, {icon: 5}, function () {
                    layer.closeAll();
                })
            }
        });
    }

    function sorts(type) {
//        if(type=='asc'){
//            console.log(1);
//            $("#asc").css('border-bottom-color','#000');
//            $("#desc").css('border-top-color','#b2b2b2');
//        }else{
//            $("#asc").css('border-bottom-color','#b2b2b2');
//            $("#desc").css('border-top-color','#000');
//        }
        $("#order").val(type);
        document.fileForm.submit();
    }

    var order;
    order=$('#order').val();
     $(function(){
        if(order!=''){
            if(order=='asc'){
                $("#asc").css('border-bottom-color','#000');
                $("#desc").css('border-top-color','#b2b2b2');
            }else{
                $("#asc").css('border-bottom-color','#b2b2b2');
                $("#desc").css('border-top-color','#000');
            }
        }
     })


    $('img').click(function(){
        var  ac = $(this)[0].src;
        $('#displayImg').attr('src', $(this)[0].src);
        var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
        var width = $("#displayImg").width();
        var _w = document.documentElement.clientWidth;
        var _h =  document.documentElement.clientHeight;
        console.log(_h);
        if (width >= _w/2) {
            var blw = _w / 2 / width;
            width = _w / 2;
            height = height * blw;
        }
        if (height >= _h / 2) {
            var blh = _h / 2 / height;
            height = _h / 2;
            width = width * blh;
        }
        console.log(height);
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            area: [width + 'px', height + 'px'], //宽高
            content: "<img  src=" + ac + " width=" + width + " height=" + height + "/>"
        });
    })

</script>
</div>
</body>
</html>