

<!-- Footer
================================================== -->
<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="five columns">
            <!-- Headline -->
            <h3 class="headline footer">关于</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>个人网站</p>
			<p><a href="{:U('index/map')}" target="_blank">联系我们</a></p>
            <p><a href="{:U('index/ImageAI')}" target="_blank">图片文字识别</a></p>
        </div>

        <div class="three columns">

            <!-- Headline -->
            <h3 class="headline footer">档案</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">June 2014</a></li>
                <li><a href="#">July 2014</a></li>
                <li><a href="#">August 2014</a></li>
                <li><a href="#">September 2014</a></li>
                <li><a href="#">November 2014</a></li>
            </ul>

        </div>

        <div class="three columns">

            <!-- Headline -->
            <h3 class="headline footer">食谱</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="browse-recipes.html">Browse Recipes</a></li>
                <li><a href="{:U('index/recipe-page-1')}">Recipe Page</a></li>
                <li><a href="submit-recipe.html">Submit Recipe</a></li>
            </ul>

        </div>

        <div class="five columns">

            <!-- Headline -->
            <h3 class="headline footer">时事通讯</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>注册接收电子邮件更新的新产品等</p>

            <form action="#" method="get">
                <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
                <button class="newsletter-btn" type="submit">提交</button>

            </form>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">
        <div class="eight columns">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274432158'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274432158%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <!--<a href="http://webscan.360.cn/index/checkwebsite/url/39.105.59.136"><img border="0" src="http://webscan.360.cn/status/pai/hash/a936b29c4cf987d2fc3662e9a61d99a0"/></a>-->
    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>



<!-- Java Script
================================================== -->
<script src="__PUBLIC__/Admin/scripts/jquery-1.11.0.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery.superfish.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery.royalslider.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/responsive-nav.js"></script>
<script src="__PUBLIC__/Admin/scripts/hoverIntent.js"></script>
<script src="__PUBLIC__/Admin/scripts/isotope.pkgd.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/chosen.jquery.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery.tooltips.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/Admin/scripts/jquery.pricefilter.js"></script>
<script src="__PUBLIC__/Admin/scripts/custom.js"></script>


<!-- Style Switcher
================================================== -->
<script src="__PUBLIC__/Admin/scripts/switcher.js"></script>

<div id="style-switcher">
    <h2>Style Switcher <a href="#"></a></h2>

    <div>
        <h3>Predefined Colors</h3>
        <ul class="colors" id="color1">
            <li><a href="#" class="green" title="Green"></a></li>
            <li><a href="#" class="blue" title="Blue"></a></li>
            <li><a href="#" class="orange" title="Orange"></a></li>
            <li><a href="#" class="navy" title="Navy"></a></li>
            <li><a href="#" class="yellow" title="Yellow"></a></li>
            <li><a href="#" class="peach" title="Peach"></a></li>
            <li><a href="#" class="beige" title="Beige"></a></li>
            <li><a href="#" class="purple" title="Purple"></a></li>
            <li><a href="#" class="celadon" title="Celadon"></a></li>
            <li><a href="#" class="pink" title="Pink"></a></li>
            <li><a href="#" class="red" title="Red"></a></li>
            <li><a href="#" class="brown" title="Brown"></a></li>
            <li><a href="#" class="cherry" title="Cherry"></a></li>
            <li><a href="#" class="cyan" title="Cyan"></a></li>
            <li><a href="#" class="gray" title="Gray"></a></li>
            <li><a href="#" class="darkcol" title="Dark"></a></li>
        </ul>

    </div>

    <div id="reset"><a href="#" class="button color">Reset</a></div>

</div>


</body>
</html>