<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>个人网站-家常菜</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/login.css" />
		<style>
		ul{list-style: none}
		a {
			text-decoration: none;
			cursor: pointer;
		}
		.container {
			width: 980px;
			min-height: 600px;
			margin: 0 auto 0 auto;
			border: 1px solid #d3d3d3;
			background: #fff;
			-moz-border-radius: 5px;
			-khtml-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
		</style>
    </head>
    <body>
        <div class="container">
            <div class="demo">
                <nav class="main_nav">
                    <ul>
                        <li><a class="cd-signin" href="#0">登录</a></li>
                        <li><a class="cd-signup" href="#0">注册</a></li>
                    </ul>
                </nav>
            </div>
            <div class="cd-user-modal"> 
                <div class="cd-user-modal-container">
                    <ul class="cd-switcher">
                        <li class="on"><a href="#0">用户登录</a></li>
                        <li><a href="#0">注册新用户</a></li>
                    </ul>

                    <div id="cd-login"> <!-- 登录表单 -->
                        <form class="cd-form"  action="{:U('login/login')}" method="post">
                            <p class="fieldset">
                                <label class="image-replace cd-username" for="signin-username">用户名</label>
                                <input class="full-width has-padding has-border" id="signin-username" type="text"  name="name" placeholder="输入用户名">
                            </p>

                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signin-password">密码</label>
                                <input class="full-width has-padding has-border" id="signin-password" type="text" name="pwd"  placeholder="输入密码">
                            </p>

                            <p class="fieldset">
                                <input type="checkbox" id="remember-me" checked>
                                    <label for="remember-me">记住登录状态</label>
                            </p>

                            <p class="fieldset">
                                <input class="full-width2" type="submit" value="登 录">
                            </p>
                        </form>
                    </div>

                    <div id="cd-signup"> <!-- 注册表单 -->
                        <form class="cd-form" action="{:U('login/register')}" method="post">
                            <p class="fieldset">
                                <label class="image-replace cd-username" for="signup-username">用户名</label>
                                <input class="full-width has-padding has-border" id="signup-username" name="name" type="text" placeholder="输入用户名">
                            </p>

                            <p class="fieldset">
                                <label class="image-replace cd-email" for="signup-email">邮箱</label>
                                <input class="full-width has-padding has-border" id="signup-email"  name="email" type="email" placeholder="输入mail">
                            </p>

                            <p class="fieldset">
                                <label class="image-replace cd-password" for="signup-password">密码</label>
                                <input class="full-width has-padding has-border" id="signup-password"  name="pwd" type="text"  placeholder="输入密码">
                            </p>

                            <p class="fieldset">
                                <input type="checkbox" id="accept-terms">
                                    <label for="accept-terms">我已阅读并同意 <a href="#0">用户协议</a></label>
                            </p>

                            <p class="fieldset">
                                <input class="full-width2" type="submit" value="注册新用户">
                            </p>
                        </form>
                    </div>

                    <a href="#0" class="cd-close-form">关闭</a>
                </div>
            </div> 
        </div>
        <script type="text/javascript" src="__PUBLIC__/Admin/scripts/login.js"></script> 
        <script src="__PUBLIC__/Admin/scripts/main.js"></script>
    </body>
</html>