<include file="Public/header,Public/shuff" />


<!-- Slider
================================================== -->





<!-- Content
================================================== -->
<div class="container">

	<!-- Masonry -->
	<div class="twelve columns">

		<!-- Headline -->
 		<h3 class="headline">Latest Recipes</h3>
		<span class="line rb margin-bottom-35"></span>
		<div class="clearfix"></div>

		<!-- Isotope -->
		<div class="isotope">

			<foreach name="arr2" item="v">
			<!-- 中间部分 -->
			<div class="four recipe-box columns">

				<!-- Thumbnail -->
				<div class="thumbnail-holder">
					<a href="{:U('index/recipe')}?id={$v['menu_id']}">
						<img src="{$v['menu_image_jpg']}" alt=""/>
						<div class="hover-cover"></div>
						<div class="hover-icon">查看食谱</div>
					</a>
				</div>

				<!-- Content -->
				<div class="recipe-box-content">
					<h3><a href="{:U('index/recipe')}?id={$v['menu_id']}">{$v['menu_name']}</a></h3>
					
					<div class="rating five-stars">
						<div class="star-rating"></div>
						<div class="star-bg"></div>
					</div>

					<div class="recipe-meta"><i class="fa fa-clock-o"></i> {$v['menu_cooking']} 分钟</div>

					<div class="clearfix"></div>
				</div>
			</div>
			</foreach>

		</div>
		<div class="clearfix"></div>

		<!-- Pagination -->
		<div class="pagination-container masonry">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev"></a></li>
					<li><a href="#" class="next"></a></li>
				</ul>
			</nav>
		</div>

	</div>


<!-- Sidebar
================================================== -->
<div class="four columns">

	<!-- Search Form -->
	<div class="widget search-form">
		<nav class="search">
			<form action="#" method="get">
				<button><i class="fa fa-search"></i></button>
				<input class="search-field" type="text" placeholder="Search for recipes" value=""/>
			</form>
		</nav>
		<div class="clearfix"></div>
	</div>


	<!-- Author Box -->
	<div class="widget">
		<div class="author-box">
			<span class="title">作者</span>
			<span class="name">Mr. Yang</span>
			<span class="contact"><a href="mailto:1156203115@qq.com">1156203115@qq.com</a></span>
			<img src="__PUBLIC__/images/icon.jpg" alt="">
			<p>我是Mr. Yang，这是我分享我的东西的地方。我疯狂地爱着食物。您将找到健康食谱，舒适食物和放纵甜点的平衡。</p>
		</div>
	</div>


	<!-- Popular Recipes -->
	<if condition="empty($arr3) neq true">
		<div class="widget">
			<h4 class="headline">热门食谱</h4>
			<span class="line margin-bottom-30"></span>
			<div class="clearfix"></div>

			<foreach name="arr3" item="value">
				<!-- Recipe #1 -->
				<a href="{:U('index/recipe')}?id={$value['menu_id']}" class="featured-recipe">
					<img src="{$value['menu_image_jpg']}" alt="" style="width: 280px;height: 95px;">

					<div class="featured-recipe-content">
						<h4>{$value['menu_name']}</h4>

						<div class="rating five-stars">
							<div class="star-rating"></div>
							<div class="star-bg"></div>
						</div>
					</div>
					<div class="post-icon"></div>
				</a>
			</foreach>

			<div class="clearfix"></div>
		</div>
	</if>

<!-- 			<li class="behance-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="instagram-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="dribbble-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="linkedin-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>


			<li class="github-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>


			<li class="youtube-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>

			<li class="pinterest-share">
				<a href="#">
					<span class="counter">902</span>
					<span class="counted">Followers</span>
					<span class="action-button">Follow</span>
				</a>
			</li>
 -->
		</ul>
		<div class="clearfix"></div>
	</div>

</div>


</div>
<!-- Container / End -->

<div class="margin-top-5"></div>


</div>
<!-- Wrapper / End -->
<include file="Public/footer" />