<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传全景</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__PUBLIC__/css/font.css">
    <link rel="stylesheet" href="__PUBLIC__/css/xadmin.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.4.min.js"></script>
    <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUBLIC__/js/xadmin.js"></script>
</head>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                分类
            </label>
            <div class="layui-input-block">
                <select name="sid" lay-verify="required">
                    <foreach name="info" item="value">
                        <option value="{$value['bargain_sid']}" <if condition="$data['bargain_sid']==$value['bargain_sid']">selected</if>>{$value['bargain_style']}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                合同名称
            </label>
            <div class="layui-input-block">
                <input type="text" name="name" required=""
                       autocomplete="off" class="layui-input" value="{$data['bargain_name']}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                合同对象
            </label>
            <div class="layui-input-block">
                <input type="text" name="to" required=""
                       autocomplete="off" class="layui-input" value="{$data['bargain_to']}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                备注
            </label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入内容" class="layui-textarea">{$data['bargain_remark']}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                图片
            </label>
            <div class="layui-upload-drag" id="test1">
                <div class="images">
                    <if condition="$data['bargain_image'] neq ''" >
                        <img src="{$data['bargain_image']}" style='width:168px;height:70px;'/>
                        <input type='hidden' name='image' value="{$data['bargain_image']}"/>
                        <else/>
                        <i class="layui-icon">&#xe67c;</i>
                        <p>点击上传，或将图片拖拽到此处</p>
                    </if>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="{$data['bargain_did']}">
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="edit" lay-submit="">
                修改
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">
                重置
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer','upload'], function(){
        $ = layui.jquery;
        var form = layui.form
                ,layer = layui.layer
                ,upload = layui.upload;

        upload.render({
            elem: '#test1'
            ,url: "{:U('public/upload')}"
            ,method:'post'
            ,data: {name: 'bargain'}
            ,done: function(res){
                //如果上传失败
                if(res.code==200){
                    $('.images').remove();
                    $('#test1').append("<div class='images'><img src="+res.info+" style='width:168px;height:70px;'><input type='hidden' name='image' value='"+res.info+"'></div>");
                }else{
                    layer.msg(res.info);
                }
                //上传成功
            }
        });


        //监听提交
        form.on('submit(edit)', function(data){
            $.post("{:U('bargain/paperDetailEdit')}",data.field,function(res){
                if(res.code==200) {
                    layer.msg(res.info, {icon: 6,time:2000},function () {
                        x_admin_close();
                        window.parent.location.reload();
                    });
                }else{
                    layer.alert(res.info, {icon: 5},function () {
                        layer.closeAll();
                    })
                }
            });
            return false;
        });


    });
</script>

</body>
</body>
</html>

